<!DOCTYPE html>
<html>
  <head>
  <script src="https://kit.fontawesome.com/a076d05399.js">
  </script>
  <link rel="shortcut icon" href=<%= image_url("favicon.png")%> type="image/x-icon">  
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <title>Queria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
